.head {
  background: -webkit-linear-gradient(top, #003014, #2d5f34);
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head span {
  padding: 20px;
}

.head span a {
  text-decoration: none;
  color: rgb(196, 196, 196);
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url('./img/background_main.dark_cut-photo.ru\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont {
  width: 800px;
  height: 900px;
  border:2px solid #003014;
  background-color:#272c29;
  margin-top: 30px;
  border-radius: 20px;
}

.jutsy {
  background-image: url("./img/logo_home.dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 85px;
}

.cont-head {
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(top, #003014, #2d5f34);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont-head-button {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont-head-button-two {
  width: 110px;
  display: flex;
  justify-content: space-between;
}
